.App {
  display: grid;
  width: calc(100% - 300px);
  margin: auto;
}

table, td, th {
  border-bottom: 1px solid rgb(0, 0, 0);
  border-collapse: collapse;
}

td, th {
  padding: 9px 0px 9px 9px;
}

input[type="text"] {
  width: 6ch;
}

input {
  margin: 0px;
  padding: 3px;
  border: 1px solid black;
}

.delete-all-btn {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid black;
  margin: 15px 0px;
  background-color: #ff0000;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}

.pagination-btn-wrapper{
  display: flex;
  justify-content: center;
}

.msg-box {
  justify-content: center;
  width: calc(100% - 300px);
  height: 460px;
  margin: auto;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 740px) {
  .App {
    width: 100%;
  }
  .pagination-btn-wrapper {
    flex-wrap: wrap;
    display: inline-flex;
  }
}
